.project-card {
  width: 330px;
  height: 280px;
  
  border: 12px solid var(--color-base-gray-300);
  border-radius: 12px;
  background-color: var(--color-base-gray-300);

  img {
    width: 306px;
    height: 156px;

    border-radius: 8px;
  }
}

.gap-24 {
  gap: 24px;
}

.title-sm {
  font: var(--title-sm);
  color: var(--color-base-gray-600);
}

.text-sm {
  font: var(--text-sm);
  color: var(--color-base-gray-500);
}

.pad-4 {
  padding: 4px;
}

.margin {
  margin-top: 20px;
}